label, button {
    font-family: 'Bitter', serif;
    font-size: 22px;
    font-weight: 400;
}

.conteiner {
    max-width: 1700px;
    margin: 0 auto;
}

.container_form {
    margin: 0 auto;
    width: 30%;
    background: linear-gradient(to right, rgb(255, 183, 77),rgb(255, 167, 38));
    padding: 30px;
    box-shadow: 0 0 20px 1px rgba(48, 3, 3, 0.596);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: 1s ease;
}

.container_form:hover {
    border: 1px solid rgb(255, 255, 255);
}

.form {
    width: 90%;
    margin: 0 auto;
}

.form input, select {
    height: 32px;
    border-radius: 7px;
    font-size: 16px;
    padding-left: 10px;
    box-shadow: 0 0 15px 4px transparent;
    transition: all 1s ease;
}

.form input:focus, select:focus {
    box-shadow: 0 0 10px 3px rgba(48, 3, 3, 0.596);
}

.form_input__label {
    text-align: center;
}

.form_section{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form_sectionAddress{
    width: 100%;
    margin-bottom: 10px;
}

.form_btn {
    height: 65px;
    width: 70%;
}

